@media screen and (max-width: 900px) {

  #author {
    text-align: left;
  }

  #title {
    text-align: left;
  }
}

h1,
h2,
h3,
h4,
p {
  font-family: "Quicksand", sans-serif;
}

p {
  margin-top: 5px;
}
.portfolio-img {
  height: 200px;
  width: 400px;
}

@media (max-width:991px) and (min-width:400px) {
  .portfolio-box >  h4 {
    text-align: center;
  }
  .portfolio-box img {
    margin: 0 auto;
    height: 200px;
    width: 400px;
  }
  .portfolio-box > p {
    text-align: center;
  }


/*@media (max: width: 400px) {
  .portfolio-box a {
    pointer-events:
